/*importando fonts*/
@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,regular,500,600,700,800,300italic,italic,500italic,600italic,700italic,800italic);

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Open Sans';
    outline: none;
}

.center{
    width: 1280px;
    margin: 0 auto;
}

.header{
    min-width: 1280px;
    display: flex;
    width: 100%;
    height: 60px;
    background-color: #212343;

}

.header img{
    margin: 19px;
}

.container-banner{
    min-width: 1280px;
    width: 100%;
    height: 557px;
    background-image: url('../images/header_bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.container-banner > .center{
    height: 100%;
    /* text-align: right; */
}
.form{
    padding:10px;
    width: 400px;
    height: calc(100% + 30px);
    background-color: #ffffff;
    /* display: inline-block; */
    float: right;
    position: relative;
    top: -15px;
    border: 8px solid rgb(204, 204, 204, .4);
    background-clip: padding-box;
}
.form h2{
    font-size: 20px;
    font-weight: normal;
    color: #999999;
    
}

.input-container{
    margin-top: 20px;
}

.input-container span{
    width: 100%;
    display: inline-block;
    color: #bbbbbb;
    font-size: 17px;
}

.form p{
    width: 100%;
    display: inline-block;
    color: #bbbbbb;
    font-size: 17px;
    margin: 20px 0;
}

.input-container input[type=text]{
    width: 344px;
    height: 55px;
    border: 1px solid #ccc;
    margin-top: 8px;
}
.form .input-container-submit{
    text-align: center;
}
.form input[type=submit]{
    width: 280px;
    height: 56px;
    color: #ffffff;
    border: none;
    display: inline-block;
    background-color: #212343;
    font-size: 25px;
    border-bottom: 5px solid #4a5097;
    cursor: pointer;
    transition: background-color ease-in .5s;
}
.form input[type=submit]:hover{
    background-color: #323665;
}

.container-list{
    float: left;
    width: 519px;
    height: 270px;
    background-color: rgba(33, 35, 67, .7);
    margin-top: 100px;
    padding: 30px;
}

.container-list ul{
    list-style-position: inside;
}

.container-list ul li{
    color: white;
    margin-top: 18px;
}

.container{
    min-width: 1280px;
    padding: 40px 0;
    background-color: #dddddd;
    text-align: center;
}


.container h2{
    font-weight: normal;
}
.container p{
    width: 698px;
    display: inline-block;
    text-align: justify;
    margin: 15px 0;
}

.arrow{
    position: relative;
    top: 60px;
    left: 50%;
    margin-left: -20px;
    width: 40px;
    height: 40px;
    background-image: url('../images/arrow.png');
    background-size: 100% 100%;
}

.diferenciais{
    padding: 90px 0;
}

.diferenciais h2{
    text-align: center;
    color: #462663;
    font-weight: normal;
}

.container-diferenciais{
    margin-top: 40px;
    text-align: center;
}
.container-single{
    float: left;
    width: 33.33%;
}

.container-single p{
    text-align: justify;
    padding: 30px;
}
.clear{
    clear: both;
}
.footer{
    padding: 20px 0;
    border-top: 2px solid #888888;
    text-align: center;
    color: #888;
}

.footer p{
    margin-top: 8px;
}